@include aoa-bg-series($bg__init,$classes_init);
@media all and (orientation: portrait){
    .index-s1,.about-s1,.about-s2,.menu-s1{
        background-position-x: center!important;
    }
}

.about,.menu{
    &-s3{
        background-color: #999!important;
        background-blend-mode: multiply!important;    
    }
}

.text{
    &-shadow{
        text-shadow: $text__shadow;
    }
}
h1,h2,h3,h4,h5,h6,.nav-link{
    font-family: "KaushanScript";
    letter-spacing: 2px;
}
header{
    z-index: 10;
}
nav{
    z-index: 10;
}

textarea{
    resize: none;
}

@media all and (max-width: 767px){
    .about{
        &-s1,&-s2{
            *{
                color:#fff!important;
                text-shadow: $text__shadow;
            }
            background-color: #999!important;
            background-blend-mode: multiply!important;
        }
        &-s1{
            background-position: top right!important;
        }

    }
    .contact,.index,.menu{
        &-s1{
            *{
                color:#fff!important;
                text-shadow: $text__shadow;
            }
            background-color: #999!important;
            background-blend-mode: multiply!important;
        }
    }
    .index{
        &-s1{
            background-position: top right!important;
        }
    }
    .navbar{
        &-nav{
            *{
                &:hover{
                    opacity:0.8;
                }
                color:#fff!important;
                text-shadow: $text__shadow;
            }
            background-color: #999!important;
            background-blend-mode: multiply!important;
        }
    }
}